html {
    font-family: "Times New Roman";
}

button {
    font-family: "Times New Roman";
    font-size: 20px;
    border-width: 7px;
    color: white;
    border-style: solid;
    background-color: black;
    border-color: white;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 15px;
    cursor: pointer;
    transition: all .75s;
}

button:hover {
    color: black;
    background-color: white;
    border-color: goldenrod;
}

h1 {
    font-size: 80px;
}

p {
    font-size: 16px; 
    text-align: center;
}